.repoList {
    margin-top: 25px;
}

li::before {
    content         : "";
    height          : 3px;
    width           : 15px;
    position        : absolute;
    left            : -30px;
    top             : 50%;
    background-color: cornflowerblue;
}

li {
    position    : relative;
    margin      : 0 auto;
    list-style  : none;
    margin-top  : 10px;
    padding-left: 13px;
    text-align  : left;
}